{% load widget_tweaks%}

{% comment %}

["report_number", "client_name", "client_room", "kind", "description",
                    "executive", "attendant", "get_date_time", "top_date_time",
                    "response_date_time", "solved", "responce"]

{% endcomment %}
{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}
<div class="form-row mb-1">
    <div class="col-6">
        {{ form.room.errors }}
        {% if not form.room.is_hidden %}{{ form.room.label_tag }}{% endif %} 
            {{ form.room }}
        {% if form.room.help_text %}
        
        <p class="help">{{ form.room.help_text|safe }}</p>
        {% endif %}
    </div>
    <div class="col-6">
        {{ form.kind.errors }}
        {% if not form.kind.is_hidden %}{{ form.kind.label_tag }}{% endif %}
            {{ form.kind }}
        {% if form.kind.help_text %}

        <p class="help">{{ form.kind.help_text|safe }}</p>
        {% endif %}
    </div>

</div>

<div class="form-row mb-1">
    <div class="col-12">
        {{ form.description.errors }}
        {% if not form.description.is_hidden %}{{ form.description.label_tag }}{% endif %}
            {{ form.description| attr:'rows:"3"' }}
        {% if form.description.help_text %}

        <p class="help">{{ form.description.help_text|safe }}</p>
        {% endif %}
    </div>
</div>

<div class="form-row mb-1">
   
    <div class="col-4">
        {{ form.get_date_time.errors }}
        {% if not form.get_date_time.is_hidden %}{{ form.get_date_time.label_tag }}{% endif %}
            {{ form.get_date_time }}
        {% if form.get_date_time.help_text %}

        <p class="help">{{ form.get_date_time.help_text|safe }}</p>
        {% endif %}
    </div>

</div>
<div class="form-row mb-1">
    <div class="col-8">
        {{ form.attendant.errors }}
        {% if not form.attendant.is_hidden %}{{ form.attendant.label_tag }}{% endif %}
            {{ form.attendant }}
        {% if form.attendant.help_text %}

        <p class="help">{{ form.attendant.help_text|safe }}</p>
        {% endif %}
    </div>
    <div class="col-4">
        {{ form.top_date_time.errors }}
        {% if not form.top_date_time.is_hidden %}{{ form.top_date_time.label_tag }}{% endif %}
            {{ form.top_date_time }}
        {% if form.top_date_time.help_text %}

        <p class="help">{{ form.top_date_time.help_text|safe }}</p>
        {% endif %}
        <small class="form-text text-muted"><i class="fa fa-exclamation-triangle text-warning"></i> Tiempo establecido para solución: <span>{{time_limit}} min</span></small>
    </div>

</div>
<div class="form-row mb-1 mt-2 align-content-center">
<div class="border rounded d-flex col-4">
<div class="col-6">
<div class="solved">
        {{ form.solved.errors }}
        {% if not form.solved.is_hidden %}{{ form.solved.label_tag }}{% endif %}


            {{ form.solved }}




        {% if form.solved.help_text %}

        <p class="help">{{ form.solved.help_text|safe }}</p>
        {% endif %}
</div>
    </div>
     <div class="col-6 report-response-conditional">
        {{ form.agree.errors }}
        {% if not form.agree.is_hidden %}{{ form.agree.label_tag }}{% endif %}


            {{ form.agree }}




        {% if form.agree.help_text %}

        <p class="help">{{ form.agree.help_text|safe }}</p>
        {% endif %}
    </div>
</div>

    <div class="col-8 report-response-conditional">
        {{ form.response_date_time.errors }}
        {% if not form.response_date_time.is_hidden %}{{ form.response_date_time.label_tag }}{% endif %}

            {% if True%}{{ form.response_date_time}} {% else %} {{ form.response_date_time | attr:"disabled" }} {% endif %}
        {% if form.response_date_time.help_text %}

        <p class="help">{{ form.response_date_time.help_text|safe }}</p>
        {% endif %}
    </div>

</div>
<div class="form-row mb-1">
    <div class="col-12">
        {{ form.responce.errors }}
        {% if not form.responce.is_hidden %}{{ form.responce.label_tag }}{% endif %}
            {{ form.responce }}
        {% if form.responce.help_text %}

        <p class="help">{{ form.responce.help_text|safe }}</p>
        {% endif %}
    </div>
</div>
