.xenia-color{
    background-color: #7a6ff1;
}

.xenia-h-gradient-bg{
    color: white;
    background: linear-gradient(to right,
    #7a6ff1 , #1a2732);
}

.xenia-v-gradient-bg{
    color: white;
    background: linear-gradient(to bottom,
    #7a6ff1 10%, #1a2732);
}

.xenia-animated-gradient-bg{
    color: white;
    background : linear-gradient(to right,
    #7a6ff1, #1a2732 50%, #7a6ff1);

    background-size: 200% auto;
    background-position: 0 100%;
    animation: gradient 60s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.xenia-animated-gradient-bg-f{
    color: white;
    background : linear-gradient(to right,
    #7a6ff1, #1a2732 50%, #7a6ff1);

    background-size: 200% auto;
    background-position: 0 100%;
    animation: gradient 6s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}


.xenia-animated-gradient-bg-2 {
    color: white;
    background-color: #7a6ff1;
    background : linear-gradient(to right,
    #7a6ff1, #1a2732 , #7a6ff1 );

    background-size: 200% auto;
    background-position: 0 100%;
    /* animation-fill-mode: forwards; */
    animation-timing-function: linear;

    -webkit-animation: 1s linear 0s 2 alternate move_eye;
    animation: 1s linear 0s 2 alternate move_eye;
  }


/* --------------------------------------------------- */
@-webkit-keyframes gradient {
    0%   { background-position: 0 0; }
    100% { background-position: -200% 0; }
}
    @keyframes gradient {
    0%   { background-position: 0 0; }
    100% { background-position: -200% 0; }
}

@-webkit-keyframes move_eye { from { background-position: 0 0; } to { background-position: -100% 0; }  }
    @keyframes move_eye { from { background-position: 0 0; } to { background-position: -100% 0; }  }

.tableforblitz tbody td:first-child + td{
    display:none;
    visibility:hidden;
}
.tableforblitz thead tr th:first-child + th{
    display:none;
    visibility:hidden;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}
