{% extends 'blitz_base_light_dark.html' %}
{% load static %}
{% block language%}en{% endblock language %}
{% block title %}Xenia{% endblock title%}
{% block extra_assets %}

<meta name="description" content="Web Application for Client Relationship" />
<meta name="author" content="David Zayas" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="keyword" content="Web App, CRM, Custom, Relationship, Magnament" />
<link rel="shortcut icon" href="{% static 'img/logo-xenia-small-inv.png' %}" />

<!-- Theme style -->
<link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
<!-- overlayScrollbars -->
<link rel="stylesheet" href="{% static 'css/OverlayScrollbars.min.css' %}">


<link href="{% static 'css/xenia-style.css' %}" rel="stylesheet" />
{% comment %} <link href="{% static 'css/xenia-base.css' %}" rel="stylesheet"> {% endcomment %}

{% block more_assets %}{% endblock more_assets %}
{% endblock extra_assets%}

{% block theme %}hold-transition sidebar-mini layout-fixed{% endblock theme %}
{% block main %}

    <!-- Page Wrapper -->
    <div class="wrapper">

        <!-- Navbar -->
        {% block navbar %}


<nav class="main-header navbar navbar-expand xenia-animated-gradient-bg-2 navbar-dark">


    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link mt-1" data-widget="pushmenu" href="#" role="button">
            <i class="fa fa-bars" aria-hidden="true"></i>
            </a>
        </li>
        <img src="{% static 'img/logo-xenia-big-tr.png' %}" height=50px alt="Logo Hotel" class=""> 
    </ul>





    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">

<!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="navbar-badge badge-warning">{{user_notifications|length}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">{{user_notifications|length}} Notifications</span>
          <div class="dropdown-divider"></div>
          {% for notification in user_notifications %}
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i>
            {% if notification.notification.notification_source == 1%}Nuevo reporte{% else %}{% if notification.notification.notification_source == 2 %}Tiemo de reporte expirado{% else %}Reporte resuelto{% endif %}{% endif %}
            {{notification.notification.report}}
            <span class="float-right text-muted text-sm">{{notification.notification.notification_time}}</span>
          </a>
          {% endfor %}
          {% comment %} <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a> {% endcomment %}
          {% comment %} <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a> {% endcomment %}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>

<!-- User Dropdown Menu -->
      <li class="nav-item dropdown">
      <a class="nav-link" href="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline font-weight-bold small">{{request.user.username}}</span>
          <img class="img-profile rounded-circle" height=30px src="{% static 'img/profile-avatar.png' %}">
      </a>

        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">Menú de usuario</span>

          {% if request.user.is_superuser %}
          <span class="float-right text-sm text-muted m-0 p-0"> <i class="fa fa-wrench" ></i> admin</span>
          <div class="dropdown-divider"></div>
          
          <a class="dropdown-item" href="{% url 'user_view' %}">
  
            <i class="fas fa-users"></i>
            
            Gestionar Usuarios
          </a>
          {% endif %}

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <i class="fas fa-user"></i>
            Perfil
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-widget="control-sidebar" data-slide="true" role="button">
            <i class="fas fa-cogs"></i>
            Configuración
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <i class="fas fa-archive"></i>
            Documentación
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer" data-toggle="modal" id="logout-btn" data-target="#logout_modal">
          <i class="fas fa-sign-out-alt"></i>
          Cerrar Sesión</a>
        </div>
      </li>


    </ul>
  </nav>
 <!-- /.navbar -->


{% endblock navbar %}

{% block sidebar %}


<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-light elevation-4">


<!-- Brand Logo -->
    <a href="{% url 'dashboard' %}" class="">
        <img src="{% static 'img/pph-brand.png' %}"  height=50px alt="Logo Hotel" class="ml-2 my-2">
    </a> 

<!-- Sidebar -->
    <div class="sidebar">

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <li class="nav-item">
            <a href="{% url 'dashboard' %}" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
              </p>
            </a>
          </li>


        <li class="nav-header">MÓDULOS</li>


          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-bolt"></i>
              <p>
                Express
                <i class="fas fa-angle-left right"></i>
                {% comment %} <span class="badge badge-info right">6</span> {% endcomment %}
              </p>
            </a>

            <ul class="nav nav-treeview">


              <li class="nav-item">
                <a href="{% url 'api_report/view' %}" class="nav-link">
                  <i class="fa fa-phone-alt nav-icon"></i>
                  <p>Reportes</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="{% url 'api_kindrep/view' %}" class="nav-link">
                  <i class="fa fa-tags nav-icon"></i>
                  <p>Tipos de reportes</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="{% url 'api_attendant/view' %}" class="nav-link">
                  <i class="fa fa-users nav-icon"></i>
                  <p>Encargados</p>
                </a>
              </li>

               <li class="nav-item">
                <a href="{% url 'api_departament/view' %}" class="nav-link">
                  <i class="fa fa-home nav-icon"></i>
                  <p>Departamentos</p>
                </a>
              </li>

               <li class="nav-item">
                <a href="{% url 'api_room/view' %}" class="nav-link">
                  <i class="fa fa-bed nav-icon"></i>
                  <p>Habitaciones</p>
                </a>
              </li>

               <li class="nav-item">
                <a href="{% url 'api_room_state/view' %}" class="nav-link">
                  
                    <i class="fa fa-sliders-h nav-icon"></i>
                  
                  <p>Estados de Habitaciones</p>
                </a>
              </li>

            </ul>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    </div>
    <!-- /.sidebar -->
  </aside>

{% endblock sidebar %}


<!-- Begin Page Content -->
<div class="content-wrapper p-3">
{% block content %}


{% endblock content %}


<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->

</div>


 <footer class="main-footer">
    <strong>Xenia - 2021. </strong>
    Hotel Playa Pesquero
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1
    </div>
  </footer>



    <!-- Logout Modal-->
    <div class="modal fade" id="logout_modal" tabdashboard="-1" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fa fa-exclamation-triangle text-warning"> </i> Cerrar sesión.</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Seguro que desea cerrar la sesión?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">No, volver</button>
                    <a id="logout_confirm_btn" class="btn btn-primary" href="{% url 'logout' %}">Sí, cerrar</a>
                </div>
            </div>
        </div>
    </div> 


    <!-- jQuery UI 1.11.4 -->
    <script src="{% static 'js/jquery-ui.min.js'%}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    
     <!-- overlayScrollbars -->
    <script src="{% static 'js/jquery.overlayScrollbars.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'js/adminlte.js' %}"></script>
    <!-- Xenia UI Customization -->
    <script src="{% static 'js/xenia-base.js' %}"></script>

{%endblock main %}
