{% extends "base.html" %} {% load static duration %}

{% block more_assets %}
<script src="{% static 'js/chart.min.js' %}"></script>
<script src="{%static 'js/dashboard.js'%}" data="{{series|safe}}"></script>
<link rel="stylesheet" href="{%static 'css/timer.css'%}" />
<script type="text/javascript" src="{%static 'js/timer.js'%}"></script>
{% endblock more_assets %}

{% block content %}
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800"> {% block location %}Panel de Control{% endblock location %}</h1>
                        {% block reportButton %}
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Crear Reporte</a>
                        {% endblock reportButton %}
                </div>


<h5>Estado reportes (Hoy)</h5>
<div class="row">
  <div class="col-7">
    <div class="row">
      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                >
                  Cantidad reportes nuevos
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{data.today_new_report}}</div>
              </div>
              {% comment %} <div class="col-auto">
                <i class="fas fa-clock fa-2x text-gray-300"></i>
              </div> {% endcomment %}
            </div>
          </div>
        </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="text-xs font-weight-bold text-success text-uppercase mb-1"
                >
                  Cantidad de reportes pendientes
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{data.reports_remaining}}</div>
              </div>
              {% comment %} <div class="col-auto">
                <i class="fas fa-check-double fa-2x text-gray-300"></i>
              </div> {% endcomment %}
            </div>
          </div>
        </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                  Cantidad de reportes resueltos
                </div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                      {{data.today_solved_report}}
                    </div>
                  </div>
                  {% comment %} <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div
                        class="progress-bar bg-info xenia-animated-gradient-bg-f"
                        role="progressbar"
                        style="width: 50%"
                        aria-valuenow="50"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div> {% endcomment %}
                </div>
              </div>
              {% comment %} <div class="col-auto">
                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
              </div> {% endcomment %}
            </div>
          </div>
        </div>
      </div>

      <!-- Pending Requests Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="text-xs font-weight-bold text-warning text-uppercase mb-1"
                >
                  Cantidad de reportes no resueltos
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{data.today_not_solved_report}}</div>
              </div>
              {% comment %} <div class="col-auto">
                <i class="fas fa-comments fa-2x text-gray-300"></i>
              </div> {% endcomment %}
            </div>
          </div>
        </div>
    </div>
      <canvas id="myChart" class="chart-canvas" ></canvas>
    </div>
  </div>

  <div class="col-5">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="">
            <div class="row">
              <div class="col-3"><label for="">Tiempo restante</label></div>
              <div class="col"><label for="">ID</label></div>
              <div class="col"><label for="">Hab</label></div>
              <div class="col"><label for="">Tipo</label></div>
            </div>
          </div>
          <div class="">
            {% for report in reports %}
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="row">
                <div class="col-3">
                  <div class="countdowns" data-duration="{{report.time_to_end|duration}}" data-current="{{report.current_time|duration}}"></div>
                </div>
                <div class="col">
                  <label for="">{{report.report_number}}</label>
                </div>
                <div class="col">
                  <label for="">{{report.room.number}}</label>
                </div>
                <div class="col">
                  <label for="">{{report.kind.name_kind}}</label>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content%}
