{% extends "base.html" %} {% load static duration %}

{% block more_assets %}
<script src="{% static 'js/chart.min.js' %}"></script>
<script src="{%static 'js/dashboard.js'%}" data="{{series|safe}}"></script>
<link rel="stylesheet" href="{%static 'css/timer.css'%}" />
<script type="text/javascript" src="{%static 'js/timer.js'%}"></script>
{% endblock more_assets %}

{% block content_header %}Panel de control{% endblock content_header %}
{% block content %}
 
 
<h5>Resumen Diario</h5>





<div class="row">
  <div class="col-7">
 <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{data.today_new_report}}</h3>

                <p>Nuevos</p>
              </div>
              <div class="icon">
                <i class="fa fa-phone"></i>
              </div>
              <a href="#" class="small-box-footer">Detalles <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{data.reports_remaining}}</h3>

                <p>Pendientes</p>
              </div>
              <div class="icon">
                <i class="fa fa-clock"></i>
              </div>
              <a href="#" class="small-box-footer">Detalles <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{data.today_solved_report}}</h3>

                <p>Resueltos</p>
              </div>
              <div class="icon">
                <i class="fa fa-check"></i>
              </div>
              <a href="#" class="small-box-footer">Detalles <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{data.today_not_solved_report}}</h3>

                <p>No resueltos</p>
              </div>
              <div class="icon">
                <i class="fa fa-exclamation-triangle"></i>
              </div>
              <a href="#" class="small-box-footer">Detalles <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>


      <canvas id="myChart" class="chart-canvas" ></canvas>
  </div>

  <div class="col-5">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="">
            <div class="row">
              <div class="col-3"><label for="">Tiempo restante</label></div>
              <div class="col"><label for="">ID</label></div>
              <div class="col"><label for="">Hab</label></div>
              <div class="col"><label for="">Tipo</label></div>
              <div class="col">Detalles</div>
              <div class="col">Resolver</div>
            </div>
          </div>
          <div class="">
            {% for report in reports %}
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="row">
                <div class="col-3">
                  <div class="countdowns" data-duration="{{report.time_to_end|duration}}" data-current="{{report.current_time|duration}}"></div>
                </div>
                <div class="col">
                  <label for="">{{report.report_number}}</label>
                </div>
                <div class="col">
                  <label for="">{{report.room.number}}</label>
                </div>
                <div class="col">
                  <label for="">{{report.kind.name_kind}}</label>
                </div>
                <div class="col">
                  <a role="button" href="{% url 'api_report/detail' %}?item={{report.report_number}}" class="btn btn-primary">Detalles</a>
                </div>
                <div class="col">
                  <a role="button" href="{% url 'api_report/update' %}?item={{report.report_number}}" class="btn btn-primary">Resolver</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content%}
