{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Xenia | Loggin" />
    <meta name="author" content="David Zayas" />
    <meta
      name="keyword"
      content="Web App, CRM, Custom, Relationship, Magnament"
    />
    <link rel="shortcut icon" href="{% static 'img/logo-xenia-small-inv.png' %}" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %} ">
    <link rel="stylesheet" href="{% static 'css/loggin-style.css' %} ">

    <title>{{}}</title>
</head>

<body>
<!-- partial:index.partial.html -->
<body id="particles-js"></body>
<div class="animated bounceInDown">
  <div class="container">
    <span class="error animated tada" id="msg"></span>
    <form name="form1" class="box" onsubmit="return checkStuff()">
      <h4>Xenia<span>Inicio de sesión</span></h4>
      <h5>Sign in to your account.</h5>
        <input type="text" name="email" placeholder="Email" autocomplete="off">
        <i class="typcn typcn-eye" id="eye"></i>
        <input type="password" name="password" placeholder="Passsword" id="pwd" autocomplete="off">
        <label>
          <input type="checkbox">
          <span></span>
          <small class="rmb">Recordarme siempre</small>
        </label>
        <a href="#" class="forgetpass">Forget Password?</a>
        <input type="submit" value="Sign in" class="btn1">
      </form>
        <a href="#" class="dnthave">Don’t have an account? Sign up</a>
  </div> 
       <div class="footer">
      
    </div>
</div>
<!-- partial -->
  <script src="{% static 'assets/animated-nodes.js' %}" ></script><script  src="{% static 'js/loggin.js' %} "></script>

</body>
</html>

