{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Xenia | Loggin" />
    <meta name="author" content="David Zayas" />
    <meta
      name="keyword"
      content="Web App, CRM, Custom, Relationship, Magnament"
    />
    <link rel="shortcut icon" href="{% static 'img/logo-xenia-small-inv.png' %}" />

    <title>
      Xenia | Login
    </title>

    <!-- Bootstrap CSS -->
    {% comment %} <link href="{% static '' %}" rel="stylesheet" /> {% endcomment %}
    <link href="{% static 'lib/bootstrap-4.3.1-dist/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- bootstrap theme -->
    
    <!--external css-->
    <!-- font icon -->
   

     <link href="{% static 'lib/fontawesome-5.15.4/font-awesome.css' %}" rel="stylesheet" />
     <link href="{% static 'lib/fontawesome-5.15.4/font-awesome.min.css' %}" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style-responsive.css' %}" href="" rel="stylesheet" />


  </head>

  <body class="login-img2-body">
    
    <div class="container">
      
      <form class="login-form" action="index.html">
        
        <div class="login-wrap">
          
          <p class="login-img"><i class="icon_lock_alt"></i></p>
          
          <div class="input-group">
            {% comment %} <span class="input-group-addon"><i class="icon_profile"></i></span> {% endcomment %}
            {% comment %} <input type="text" class="form-control" placeholder="Username" autofocus/> {% endcomment %}
          {{form.username}}
          </div>
          <div class="input-group">
            {% comment %} <span class="input-group-addon"><i class="icon_key_alt"></i></span> {% endcomment %}
            {% comment %} <input type="password" class="form-control" placeholder="Password"/> {% endcomment %}
          {{form.password}}
          </div>

          <label class="checkbox">
            <input type="checkbox" value="remember-me" /> Remember me
            <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
          </label>

          <button class="btn btn-primary btn-lg btn-block" type="submit">
            Login
          </button>
          <button class="btn btn-info btn-lg btn-block" type="submit">
            Signup
          </button>
          
        </div>
      </form>
      
    </div>
  </body>
</html>
