{% extends 'base.html' %}
{% load static %}

{% block content %}
    {{object.username}}
    {{object.first_name}}
    {{object.last_name}}
    {{object.email}}
    {{object.is_superuser}}
    <a href="{% url 'user_view' %}" class="btn btn-secondary">Cancelar</a>
{% endblock %}

{% block more_assets %}
<!--Module Express Plugins JavaScript-->
    <link href="{% static 'lib/bootstrap-table/css/bootstrap-table.min.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/bootstrap-table/css/jquery.resizableColumns.css' %}" rel="stylesheet">
    <link href="{% static 'lib/bootstrap-table/css/bootstrap-table-sticky-header.min.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/bootstrap-table/css/bootstrap-table-fixed-columns.min.css' %}" rel="stylesheet" />


<!--Module Express Plugins JavaScript-->
    <script src="{% static 'lib/bootstrap-table/js/bootstrap-table.min.js' %} "></script>
    <script src="{% static 'lib/bootstrap-table/js/bootstrap-table-resizable.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap-table/js/jquery.resizableColumns.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/bootstrap-table/js/FileSaver.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap-table/js/jspdf.umd.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap-table/js/jspdf.plugin.autotable.js' %}"></script><!--TODO: agregar autotable plugin al export PDF-->
    <script src="{% static 'lib/bootstrap-table/js/tableExport.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap-table/js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap-table/js/bootstrap-table-sticky-header.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap-table/js/bootstrap-table-fixed-columns.min.js' %}"></script>
{% endblock more_assets %}
