{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks%}

{% block content %}
    
    <form method="POST">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}


<div class="form-row">
<div class="form-group">

{{ form.username.errors }}
    <label> {% if not form.username.is_hidden %}{{ form.username.label_tag }}{% endif %} </label>

    {{ form.username | add_class:'form-control'}}

    {% if form.username.help_text %}
    <small class="form-text text-muted"> 
    {{ form.username.help_text|safe }}
   </small>
    {% endif %}
</div>


    <div class="custom-control custom-checkbox">
        
        {{ form.is_superuser.errors }}
        {{ form.is_superuser | attr:"type:checkbox" | add_class:"mt-5"}}
       {% comment %} <input type="checkbox" class="custom-control-input" id="customCheck1"> {% endcomment %}
        
        <label>
            {% if not form.is_superuser.is_hidden %}Super usuario <span class="text-danger">(<i class="fa fa-wrench"></i> Administrador)</span>{% endif %} 
        </label>
    {% if form.is_superuser.help_text %}
    <small class="form-text text-muted"> {{ form.is_superuser.help_text|safe }}</small>
    {% endif %}
    </div>


</div>

 <div class="form-row">
    
    <div class="form-group col-md-6">
    {{ form.first_name.errors }}
      <label> {% if not form.first_name.is_hidden %}{{ form.first_name.label_tag }}{% endif %}</label>
      {{ form.first_name | add_class:'form-control'}}
   
   {% if form.first_name.help_text %}
    <small  class="form-text text-muted"> 
        {{ form.first_name.help_text|safe }}
   </small>
    {% endif %}
    </div>
    

     <div class="form-group col-md-6">
    {{ form.last_name.errors }}
      <label> {% if not form.last_name.is_hidden %}{{ form.last_name.label_tag }}{% endif %} </label>
      {{form.last_name | add_class:'form-control'}}

    {% if form.last_name.help_text %}
    <small  class="form-text text-muted"> 
    {{ form.last_name.help_text|safe }}
    </small>
    {% endif %}
    </div>

</div>

    <div class="form-group">
    <label>{% if not form.email.is_hidden %}{{ form.email.label_tag }}{% endif %} </label>
    {{ form.email.errors}}
    {{ form.email | add_class:"form-control" | attr:"placeholder:nombre@correo.com"}}

    {% if form.email.help_text %}
    
    <p class="help">{{ form.email.help_text|safe }}</p>
    {% endif %}
    </div>

<div class="form-group">
    {{ form.password1.errors }}
    {% if not form.password1.is_hidden %}{{ form.password1.label_tag }}{% endif %} 
        {{ form.password1| add_class:"form-control" }}
    
    {% if form.password1.help_text %}
    <small  class="form-text text-muted"> {{ form.password1.help_text|safe }}</small>
    {% endif %}
</div>




<div class="form-group">
    {{ form.password2.errors }}
    {% if not form.password2.is_hidden %}{{ form.password2.label_tag }}{% endif %} 
        {{ form.password2 | add_class:"form-control"}}
    {% if form.password2.help_text %}
    
     <small  class="form-text text-muted">{{ form.password2.help_text|safe }}</small>
    {% endif %}
</div>


    <div class="form-row align-items-center my-3">
            <div class="mb-1 ml-auto pad-adjust">
                <a   class="btn btn-outline-danger rounded-pill float-right" role="button"
                href="{% url 'user_view' %}"
                type="button" ><i class="fas fa-times"></i> Cancelar</a>

            </div>
            <div class="mb-1 ml-3 pad-adjust">

                <button  class="btn btn-outline-primary btn-block rounded-pill"  type="submit"><i class="fas fa-save"></i> Guardar</button>
            </div>
        </div>

    </form>
{% endblock %}

{% block more_assets %}
<!--Module Express Plugins JavaScript-->
    <link href="{% static 'lib/bootstrap-table/css/bootstrap-table.min.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/bootstrap-table/css/jquery.resizableColumns.css' %}" rel="stylesheet">
    <link href="{% static 'lib/bootstrap-table/css/bootstrap-table-sticky-header.min.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/bootstrap-table/css/bootstrap-table-fixed-columns.min.css' %}" rel="stylesheet" />


<!--Module Express Plugins JavaScript-->
    <script src="{% static 'lib/bootstrap-table/js/bootstrap-table.min.js' %} "></script>
    <script src="{% static 'lib/bootstrap-table/js/bootstrap-table-resizable.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap-table/js/jquery.resizableColumns.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/bootstrap-table/js/FileSaver.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap-table/js/jspdf.umd.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap-table/js/jspdf.plugin.autotable.js' %}"></script><!--TODO: agregar autotable plugin al export PDF-->
    <script src="{% static 'lib/bootstrap-table/js/tableExport.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap-table/js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap-table/js/bootstrap-table-sticky-header.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap-table/js/bootstrap-table-fixed-columns.min.js' %}"></script>
{% endblock more_assets %}
